{% extends '::base.html.twig' %}

{% block stylesheets %}     
    <link href="{{ asset(global.directorio_css ~ "bootstrap.min.css")}}" rel="stylesheet">
    <link href="{{ asset(global.directorio_css ~ "fancybox/jquery.fancybox.css")}}" rel="stylesheet">    
    <link href="{{ asset(global.directorio_css ~ "jcarousel.css")}}" rel="stylesheet">    
    <link href="{{ asset(global.directorio_css ~ "flexslider.css")}}" rel="stylesheet">   
    <link href="{{ asset(global.directorio_css ~ "style.css")}}" rel="stylesheet">             
    <!-- Theme skin -->
    <link href="{{ asset(global.directorio_skins ~ "default.css")}}" rel="stylesheet">
{% endblock %}

{% block menu %}
<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('frontend_homepage') }}"><span>TECLOY</span> {{ 'Tecnología & Servicios'|trans }} E.I.R.L</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li {% block active_home %} {% endblock %} ><a href="{{ path('frontend_homepage') }}">Home</a></li>
                        <li {% block active_empresa %} {% endblock %} ><a href="{{ path('frontend_empresa') }}">{{ 'Empresa'|trans }}</a></li>
                        <li class="dropdown " {% block active_servicio %} {% endblock %} >
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">{{ 'Servicios'|trans }} <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">{{ 'Proyectos I+D'|trans }}</a></li>
                                <li><a href="#">{{ 'Instalación / Implant.'|trans }}</a></li>
                                <li><a href="#">{{ 'Soporte y Mantenimiento'|trans }}</a></li>
								<li><a href="#">{{ 'Mesa de ayuda / SAC'|trans }}</a></li>
                            </ul>
                        </li>
                        <li {% block active_proyecto %} {% endblock %} ><a href="#">{{ 'Proyectos'|trans }}</a></li>
                        <li {% block active_blog %} {% endblock %} ><a href="#">{{ 'Blog'|trans }}</a></li>
                        <li {% block active_contacto %} {% endblock %} ><a href="{{ path('frontend_contacto') }}">{{ 'Contacto'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
{% endblock %}

{% block body %}
	{% block slider %}{% endblock %}	
	{% block contenido %}{% endblock %}	
{% endblock %}

{% block footer %}
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">{{ 'Contáctenos'|trans }}</h5>
					<address>
					<strong>{{ 'TECLOY Tecnología & Servicios E.I.R.L'|trans }}</strong><br>
					 {{ 'Jr. Ricardo Herrera 835 Dpto.A'|trans }}<br>
					 {{ 'Lima 01, Perú'|trans }} </address>
					<p>
						<i class="fa fa-phone fa-1x"></i> <a href="tel:+51016614435">(+51) 1-6614435</a><br>
						<i class="fa fa-envelope-o fa-1x"></i> <a href="mailto:info@tecloy.com">info@tecloy.com</a> 
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">{{ 'Páginas'|trans }}</h5>
					<ul class="link-list">
						<li><a href="#">Press release</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career center</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">{{ 'Contáctenos'|trans }}</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					{#
					<h5 class="widgetheading">Flickr photostream</h5>
					<div class="flickr_badge">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
					</div>
					<div class="clear">
					</div>
					#}
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; TECLOY 2014 All right reserved. By </span><a href="http://www.tecloy.com" target="_blank">TECLOY Tecnoloía & Servicios E.I.R.L</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
{% endblock %}

{% block javascripts %}    	
  <script src="{{ asset(global.directorio_js ~ "jquery.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "jquery.easing.1.3.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "bootstrap.min.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "jquery.fancybox.pack.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "jquery.fancybox-media.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "google-code-prettify/prettify.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "portfolio/jquery.quicksand.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "portfolio/setting.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "jquery.flexslider.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "animate.js")}}"></script>     
  <script src="{{ asset(global.directorio_js ~ "custom.js")}}"></script>     

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52985865-1', 'auto');
  ga('send', 'pageview');
  
  </script>  

{% endblock %}
