<aside class="right-sidebar">
				<div class="widget">
					<strong>{{ 'La gente espera un buen servicio, pero pocos están dispuestos a darlo'|trans }}.</strong> Robert Gately.					
				</div>
				<div class="widget">					
					<p>
						{{ 'En la actualidad nuestros clientes tienen la plena seguridad que ante cualquier inconveniente técnico, cuentan con nuestros servicios de alta calidad de forma inmediata'|trans }}.
					</p>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ 'Nuestra Propuesta'|trans }}</h5>
					<ul>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico TI personalizado'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico Remoto'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico On-Site'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Preventivo'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Correctivo'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Fotos e Informes Tecnicos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reportes y Gráficos on-line'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Central Telefónica las 24 hrs.'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Amplios horarios de atención'|trans }}.</li>						
					</ul>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ '¿Qué hacemos?'|trans }}</h5>
					<ul>						
						<li><i class="icon-angle-right"></i>{{ 'Instalación y montaje de gabinetes, servidores, switch,  router, pach panel, etc'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Revisión y reparación de PC, Laptos, Impresoras, etc'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación de redes de datos (UTP y F.O)'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Solucionamos problemas de conectividad de redes y equipos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reparación de puntos de red y teléfono'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de software y antivirus'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de bases de datos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de Servidores'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Dominios y correos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Páginas y aplicaciones web'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Backup y recuperación de información'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Asistencia en programas empresariales'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Circuitos de video y audio'|trans }}.</li>
					</ul>
				</div>				
				
				<div class="widget">				
					<h5 class="widgetheading">{{ '¿Aun no cuentas con nuestros Servicios TI?'|trans }}</h5>
					{{'Tenemos el plan de Soporte y Mantenimiento TI que tu empresa y comercio necesita'|trans }}.<br>
					
					<strong>{{'Solicite mayor información a cerca de nuestros planes'|trans }}.</strong><br>
					<i class="fa fa-phone fa-1x"></i> <a href="tel:+51016614435">(+51) 1-6614435</a><br>
					<i class="fa fa-envelope-o fa-1x"></i> <a href="mailto:info@tecloy.com">info@tecloy.com</a>
				</div>			
				</aside>