<aside class="right-sidebar">
				<div class="widget">
					<strong>{{ 'Siempre dale al cliente más de lo que espera'|trans }}.</strong> Nelson Boswell.					
				</div>
				<div class="widget">					
					<p>
						{{ 'En la actualidad nuestros clientes tienen la plena seguridad que ante cualquier inconveniente técnico, cuentan con nuestros servicios de alta calidad de forma inmediata'|trans }}.
					</p>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ 'Nuestra Propuesta'|trans }}</h5>
					<ul>						
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico TI personalizado'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico Remoto'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico On-Site'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Preventivo'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Correctivo'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Fotos e Informes Tecnicos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reportes y Gráficos on-line'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Central Telefónica las 24 hrs.'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Amplios horarios de atención'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Asesoría en servicios y productos TI'|trans }}.</li>				
						<li><i class="icon-angle-right"></i>{{ 'Desarrollo de aplicaciones web y móviles'|trans }}.</li>				
								
					</ul>
				</div>						
				<div class="widget">				
					<h5 class="widgetheading">{{ '¿Como funciona?'|trans }}</h5>
					<ol>
					<li>{{ 'El cliente nos transmite su duda, consulta o incidencia a través de nuestros Canales de Atención MDA'|trans }}.</li>
					<li>{{ 'Un personal técnico generara un ticket de atencion y atenderá al cliente de forma inmediata'|trans }}.</li>
					<li>{{ 'El personal técnico analizara la duda, consulta e incidencia transmitida para darle una pronta respuesta y solución'|trans }}.</li>
					<li>{{ 'Una vez que el cliente haya recibido la respuesta y solución a la duda, consulta o problema transmitido, se le solicitara la conformidad del caso'|trans }}.</li>					
					<li>{{ 'Con la conformidad del cliente se procederá a cerrar el ticket de atención y se enviara al cliente un informe técnico con el detalle de los trabajos realizados'|trans }}.</li>			
				</ol>
				</div>	
				<div class="widget">				
					<h5 class="widgetheading">{{ '¿Aun no cuentas con nuestro Servicio de Soporte y Mantenimiento TI?'|trans }}</h5>
					{{'Tenemos un plan de Soporte y Mantenimiento TI para tu presupuesto y necesidad'|trans }}.<br>
					
					<strong>{{'Solicite información a cerca de nuestros planes de Soporte y Mantenimiento TI'|trans }}.</strong><br>
					<i class="fa fa-phone fa-1x"></i> <a href="tel:+51016614435">(+51) 1-6614435</a><br>
					<i class="fa fa-envelope-o fa-1x"></i> <a href="mailto:info@tecloy.com">info@tecloy.com</a>
				</div>			
				</aside>