<aside class="right-sidebar">
				<div class="widget">
					<strong>{{ 'Siempre dale al cliente más de lo que espera'|trans }}.</strong> Nelson Boswell.					
				</div>
				<div class="widget">					
					<p>
						{{ 'En la actualidad nuestros clientes tienen la plena seguridad que ante cualquier inconveniente técnico, cuentan con nuestros servicios de alta calidad de forma inmediata'|trans }}.
					</p>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ 'Nuestra Propuesta'|trans }}</h5>
					<ul>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Técnico TI personalizado'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Preventivo'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Correctivo'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Fotos e Informes Tecnicos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reportes y Gráficos on-line'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Central Telefónica las 24 hrs.'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Amplios horarios de atención'|trans }}.</li>						
					</ul>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ '¿Qué hacemos?'|trans }}</h5>
					<ul>						
						<li><i class="icon-angle-right"></i>{{ 'Instalación y montaje de gabinetes, servidores, switch,  router, pach panel, etc'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Revisión y reparación de PC, Laptos, Impresoras, etc'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación de redes de datos (UTP y F.O)'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Solucionamos problemas de conectividad de redes y equipos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reparación de puntos de red y teléfono'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de software y antivirus'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de bases de datos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de Servidores'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Dominios y correos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Páginas y aplicaciones web'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Backup y recuperación de información'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Asistencia en programas empresariales'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Circuitos de video y audio'|trans }}.</li>
					</ul>
				</div>				
				<div class="widget">				
					<h5 class="widgetheading">{{ '¿Como funciona?'|trans }}</h5>
					<ol>
					<li>{{ 'Se programa con el cliente los trabajos y el horario en el que se realizara el mantenimiento preventivo o correctivo  de sus equipos (Pc, Laptos, Impresoras, etc.), sistemas y/o estructura tecnológica'|trans }}.</li>
					<li>{{ 'Se apertura un nuevo ticket de atención y se asigna a un personal o equipo técnico para la realización de los trabajos'|trans }}.</li>
					<li>{{ 'De acuerdo al tipo de mantenimiento y equipo, el personal técnico podrá realizar los trabajos en el lugar o de ser conveniente en nuestras instalaciones'|trans }}.</li>
					<li>{{ 'Una vez terminado los trabajos de mantenimiento, el personal técnico procederá a retornar la operatividad de los equipos, sistemas y/o estructura tecnológica del cliente'|trans }}.</li>
					<li>{{ 'Se solicitara la conformidad del cliente'|trans }}.</li>
					<li>{{ 'Con la conformidad del cliente se procederá a cerrar el ticket de atención y se enviara al cliente un informe técnico con el detalle de los trabajos realizados'|trans }}.</li>			
				</ol>
				</div>	
				<div class="widget">				
					<h5 class="widgetheading">{{ '¿Aun no cuentas con nuestro Servicio de Mantenimiento TI?'|trans }}</h5>
					{{'Tenemos un plan de Mantenimiento TI para tu presupuesto y necesidad'|trans }}.<br>
					
					<strong>{{'Solicite información a cerca de nuestros planes de Mantenimiento TI'|trans }}.</strong><br>
					<i class="fa fa-phone fa-1x"></i> <a href="tel:+51016614435">(+51) 1-6614435</a><br>
					<i class="fa fa-envelope-o fa-1x"></i> <a href="mailto:info@tecloy.com">info@tecloy.com</a>
				</div>			
				</aside>