<aside class="right-sidebar">
				<div class="widget">
					<strong>{{ '“Si logras construir una gran experiencia de compras, los clientes se lo dicen unos a otros. El boca a boca es muy potente”'|trans }}.</strong> Jeff Bezos, CEO de Amazon.com.					
				</div>
				<div class="widget">					
					<p>
						{{ 'En la actualidad nuestros clientes tienen la plena seguridad que ante cualquier inconveniente técnico, cuentan con nuestros servicios de alta calidad de forma inmediata'|trans }}.
					</p>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ 'Nuestra Propuesta'|trans }}</h5>
					<ul>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y Configuración de Hardware'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y Configuración de Software'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y Cableado de Redes de Datos UTP y F.O'|trans }}.</li>				
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico TI personalizado'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico Remoto'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico On-Site'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Preventivo'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Mantenimiento Correctivo'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Desarrollo y Diseño de Aplicaciones para Empresas'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Desarrollo y Diseño de Sitios Web y App'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Fotos e Informes Tecnicos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reportes y Gráficos on-line'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Central Telefónica las 24 hrs.'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Amplios horarios de atención'|trans }}.</li>						
					</ul>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ '¿Qué hacemos?'|trans }}</h5>
					<ul>
						<li><i class="icon-angle-right"></i>{{ 'Venta de gabinetes y rack de comunicaciones'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y/o anclaje de gabinetes'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Desinstalación, traslado, mudanza de gabinetes'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Energizacion e instalación eléctrica en gabinetes'|trans }}.</li>

						<li><i class="icon-angle-right"></i>{{ 'Venta de Switch y Router'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de Switch y Router'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Montaje, rackeado y energizacion de Switch y Router'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de Redes WiFi'|trans }}.</li>

						<li><i class="icon-angle-right"></i>{{ 'Venta de Patch Panel, Ordenadores, Patch Cord UTP y F.O'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación, montaje, rackeado Patch Panel, Ordenadores'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y cableado de Patch Cord UTP y F.O'|trans }}.</li>					

						<li><i class="icon-angle-right"></i>{{ 'Instalación, montaje, rackeado y configuración de Servidores'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de Pc, Laptop, Impresoras,etc'|trans }}.</li>

						<li><i class="icon-angle-right"></i>{{ 'Instalación, montaje y rackeado de Monitores y Pantallas'|trans }}.</li>		
						<li><i class="icon-angle-right"></i>{{ 'Instalación de Video Wall'|trans }}.</li>					
						<li><i class="icon-angle-right"></i>{{ 'Instalación de Proyectores'|trans }}.</li>					
						<li><i class="icon-angle-right"></i>{{ 'Instalación de Camaras de Video'|trans }}.</li>					

						<li><i class="icon-angle-right"></i>{{ 'Solucionamos problemas de conectividad de redes y equipos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reparación de puntos de red y teléfono'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de software y antivirus'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de bases de datos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de Servidores'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Dominios y correos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Páginas y aplicaciones web'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Backup y recuperación de información'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Asistencia en programas empresariales'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Circuitos de video y audio'|trans }}.</li>
					</ul>
				</div>								
				<div class="widget">				
					<h5 class="widgetheading">{{ 'Un asesor comercial atenderá todos tus requerimientos y necesidades'|trans }}</h5>
					{{'Solicita mayor información en'|trans }}:<br>					
					<i class="fa fa-phone fa-1x"></i> <a href="tel:+51016614435">(+51) 1-6614435</a><br>
					<i class="fa fa-envelope-o fa-1x"></i> <a href="mailto:ventas@tecloy.com">ventas@tecloy.com</a>
				</div>			
				</aside>