<aside class="right-sidebar">
				<div class="widget">
					<strong>{{ '“Hagas lo que hagas, hazlo tan bien para que vuelvan y además traigan a sus amigos”'|trans }}.</strong> Walt Disney.					
				</div>
				<div class="widget">					
					<p>
						{{ 'En la actualidad nuestros clientes tienen la plena seguridad que ante cualquier inconveniente técnico, cuentan con nuestros servicios de alta calidad de forma inmediata'|trans }}.
					</p>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ 'Nuestra Propuesta'|trans }}</h5>
					<ul>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico TI personalizado'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico Remoto'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Soporte Técnico On-Site'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Fotos e Informes Tecnicos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reportes y Gráficos on-line'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Central Telefónica las 24 hrs.'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Amplios horarios de atención'|trans }}.</li>						
					</ul>
				</div>
				<div class="widget">
					<h5 class="widgetheading">{{ '¿Qué hacemos?'|trans }}</h5>
					<ul>						
						<li><i class="icon-angle-right"></i>{{ 'Instalación y montaje de gabinetes, servidores, switch,  router, pach panel, etc'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Revisión y reparación de PC, Laptos, Impresoras, etc'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación de redes de datos (UTP y F.O)'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Solucionamos problemas de conectividad de redes y equipos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Reparación de puntos de red y teléfono'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de software y antivirus'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de bases de datos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Instalación y configuración de Servidores'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Dominios y correos'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Páginas y aplicaciones web'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Backup y recuperación de información'|trans }}.</li>						
						<li><i class="icon-angle-right"></i>{{ 'Asistencia en programas empresariales'|trans }}.</li>
						<li><i class="icon-angle-right"></i>{{ 'Circuitos de video y audio'|trans }}.</li>
					</ul>
				</div>				
				<div class="widget">				
					<h5 class="widgetheading">{{ '¿Como funciona?'|trans }}</h5>
					<ol>
					<li>{{ 'El cliente reporta la incidencia por cualquiera de nuestros canales de atención de Soporte TI'|trans }}.</li>
					<li>{{ 'Se genera un ticket de atención y se asigna a un técnico para atender la incidencia'|trans }}.</li>
					<li>{{ 'El técnico asignado se comunica con el cliente y procede a atender la incidencia'|trans }}.</li>
					<li>{{ 'El técnico soluciona la incidencia y procede a orientar al cliente para prevenir que esta no se vuelva a repetir en un futuro'|trans }}.</li>
					<li>{{ 'El técnico recibe la conformidad del cliente y procede a cerrar y dar por finalizado el ticket de atención'|trans }}.</li>
					<li>{{ 'Se le envía un correo electrónico al cliente informándole sobre el trabajo realizado'|trans }}.</li>			
				</ol>
				</div>	
				<div class="widget">				
					<h5 class="widgetheading">{{ '¿Aun no cuentas con nuestro Servicio de Soporte TI?'|trans }}</h5>
					{{'Tenemos un plan de Soporte TI para tu presupuesto y necesidad'|trans }}.<br>
					
					<strong>{{'Solicite información a cerca de nuestros planes de Soporte TI'|trans }}.</strong><br>
					<i class="fa fa-phone fa-1x"></i> <a href="tel:+51016614435">(+51) 1-6614435</a><br>
					<i class="fa fa-envelope-o fa-1x"></i> <a href="mailto:info@tecloy.com">info@tecloy.com</a>
				</div>			
				</aside>